<div class="container" style="padding: 10px;align-self: center">
    <div class="jumbotron" style="background-image: url(https://th.bing.com/th/id/OIP.ZKfwLmisR2WlNQw7IQFu8AHaE8?w=282&h=188&c=7&r=0&o=5&dpr=1.25&pid=1.7);margin-top: 30px; padding: 200px;">
   
    <h1 style="color: aliceblue;margin-top: 30px;text-align: left">Hello There!</h1>    
    <h2 style="color: aliceblue;text-align: left">Welcome to myPortFolio</h2>
    <p style="color: aliceblue;text-align: left">Easy way to create your amazing portfolio...</p>
    </div>
    </div>
    
    
    
    