
    <div class="container" style="padding: 10px;align-self: center">
        <div class="jumbotron" style="background-image: url(https://th.bing.com/th/id/OIP.lqIUMwvpUp4gwpQWD2ON9gHaEK?w=322&h=181&c=7&r=0&o=5&dpr=1.25&pid=1.7);margin-top: 30px; padding: 100px;">
       
        <h1 style="color: aliceblue;margin-top: 30px;text-align: center">myPortfolio: Easy Way to Create Your Amazing Portfolio.</h1>    
        <h2 style="color: aliceblue;text-align: center">What is a portfolio?</h2>
        <p style="color: aliceblue;text-align: center"> A portfolio is a compilation of work that provides clear snapshots of your prior projects. It is more than just a list of previous projects; it reflects the portfolio owners' attitudes, abilities, and potential.
    
            It provides customers an idea of what you're made of. If a person's portfolio is appealing, it conveys the sense that he or she is dedicated and possesses a wide range of skills.
            
            As you start working on your portfolio, you may think that it is a waste of time and effort. However, you must ensure that you build a strong portfolio. It is a tool for presenting oneself to the global market.
        </p>
        </div>
        </div>
        
<router-outlet></router-outlet>
